<div class="header" *ngIf="!multipleTracksSelected()">
    <img [src]="getImage()">
    <div class="meta">
        <a class="primary-name hover-underline" [routerLink]="urls.track(data.item)">{{data.item.name}}</a>
        <artists-links-list class="secondary-name" [artists]="data.item.artists"></artists-links-list>
    </div>
</div>

<div class="context-menu-panel primary-panel" [class.hidden]="!activePanelIs('primary')">
    <div class="panel-body">
        <ng-content></ng-content>
        <div class="menu-item" (click)="goToTrackRadio()"  *ngIf="!multipleTracksSelected() && !settings.get('player.hide_radio_button')" trans>Go to Track Radio</div>
        <div class="menu-item" (click)="addToQueue()" *ngIf="!inQueue() || multipleTracksSelected()" trans>Add to Queue</div>
        <div class="menu-item" (click)="removeFromQueue()" *ngIf="inQueue() && !multipleTracksSelected()" trans>Remove from Queue</div>
        <div class="menu-item" (click)="openPanel('playlist')"><span trans>Add to Playlist</span> <svg-icon name="keyboard-arrow-right"></svg-icon></div>
        <div class="menu-item" (click)="saveToLibrary()" *ngIf="!inLibrary() || multipleTracksSelected()" trans>Save to Your Music</div>
        <div class="menu-item" (click)="removeFromLibrary()" *ngIf="inLibrary() && !multipleTracksSelected()" trans>Remove from Your Music</div>
        <div class="menu-item" (click)="showLyricsModal()"  *ngIf="!multipleTracksSelected()" trans>Show Lyrics</div>
        <div class="menu-item" (click)="copyLinkToClipboard()" *ngIf="!multipleTracksSelected()" trans>Copy Track Link</div>
        <div class="menu-item" (click)="openShareModal()" *ngIf="!multipleTracksSelected()" trans>Share</div>
        <div class="menu-item" (click)="downloadTrack()" *ngIf="!multipleTracksSelected() && settings.get('player.enable_download')" trans>Download</div>

        <div class="menu-item download-button" (click)="callbackMobile()" *ngIf="isMobile" trans [attr.data-track]="dataTrackToAndroid">Download</div>

        <a class="menu-item"  routerLink="admin/tracks" [queryParams]="{track_id: data.item.id}" *ngIf="currentUser.hasPermission('tracks.update')" trans>Edit</a>
    </div>
</div>

<context-menu-playlist-panel class="context-menu-panel" [class.hidden]="!activePanelIs('playlist')" [tracks]="getTracks()" (close$)="openPanel('primary')"></context-menu-playlist-panel>