<button class="player-action repeat-button" mat-icon-button *ngIf="!player.getState().repeatingOne" (click)="player.toggleRepeatMode()" [class.active]="player.getState().repeating" matTooltip="Repeat">
    <svg-icon name="repeat"></svg-icon>
</button>

<button class="player-action repeat-button active" mat-icon-button *ngIf="player.getState().repeatingOne" (click)="player.toggleRepeatMode()" matTooltip="Repeat One">
    <svg-icon name="repeat-one"></svg-icon>
</button>

<button class="player-action download-button" *ngIf="isMobile" [disabled]="!player.cued()" mat-icon-button (click)="callbackMobile()" matTooltip="Download" [attr.data-track]="dataTrackToAndroid">    
    <svg-icon name="cloud-download"></svg-icon>
</button>