@import "../../../../scss/variables";
@import "../../../../scss/admin-artist-edit-main-info";
@import "../../../../scss/admin-artist-edit-inputs";

.crupdate-album-modal-container {
  width: 90%;
  height: 90%;
}

new-album-modal {
  .mat-dialog-content {
    max-height: 100%;
  }

  .admin-table-panel {
    margin: 25px 0 0;
  }

  .close-button {
    display: none;
  }
  
}

.admin-artist-edit-inputs .input-container label.type-checkbox{
    width: auto;
    margin-right: 10px;
    flex: 0 0 auto;
}
.admin-artist-edit-inputs .input-container .type-checkbox .mat-checkbox-layout{
    width: 40px;    
    flex: 0 0 40px;
}

.mat-slide-toggle.type-checkbox .mat-slide-toggle-label {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;   
    width: 150px;
    flex: 0 0 150px;
}
.mat-slide-toggle.type-checkbox .mat-slide-toggle-content{
    font-weight: 500;
    color: #689f38;
}


.admin-artist-edit-inputs .input-container.multi-input-container input{
    margin-right: 20px;
}
.admin-artist-edit-inputs .input-container.multi-input-container input.smal-number{
    flex: 0;
}