<div class="header">
    <div class="title">Video ads</div>
    <div class="subtitle" trans>Configure video ads to show to not premium users.</div>
</div>

<form class="body many-inputs" (submit)="saveSettings()" ngNativeValidate>
    
    <div class="input-container">
        <label for="videoads_source" trans>Video Ads source</label>
        <select name="videoads_source" id="videoads_source" [(ngModel)]="state.client['videoads_source']">
            <option value="google">Google</option>
            <option value="local">Local (music files uploaded via admin area)</option>
        </select>
        <p trans>What method should be used to stream ads music on the site.</p>
    </div>

    <ng-container>
        <div class="input-container">
            <label for="videoads_count" trans>Show ad after each track</label>
            <input name="videoads_count" id="videoads_count" [(ngModel)]="state.client['videoads_count']" required>
            <p trans>Show ad after each tracks</p>
        </div>
    </ng-container>

    <ng-container>
        <div class="input-container">
            <label for="videoads_limit" trans>Limit of ads</label>
            <input name="videoads_limit" id="videoads_limit" [(ngModel)]="state.client['videoads_limit']" required>
            <p trans>Limit of ads to show to user for 24 hours</p>
        </div>
    </ng-container>
    
    <button mat-raised-button color="accent" class="button primary update-button" type="submit">Update</button>
</form>