<div class="modal-header">
    <h2 class="modal-title" mat-dialog-title trans>
        <span *ngIf="updating" trans>Update Video Ad</span>
        <span *ngIf="!updating" trans>New Video Ad</span>
    </h2>
    <button type="button" (click)="close()" class="close-button no-style icon-button">
        <svg-icon name="close"></svg-icon>

    </button>
</div>

<form (ngSubmit)="confirm()" ngNativeValidate>
    <mat-dialog-content class="many-inputs admin-artist-edit-inputs" customScrollbar>
        <div class="input-container">
            <label for="videoad-name" trans>Name</label>
            <input type="text" id="videoad-name" name="name" [(ngModel)]="videoad.name" required>
            <div class="error" *ngIf="errors.name">{{errors.name}}</div>
        </div>

        <div class="input-container">
            <label for="videoad-status" trans>Status</label>
            <select name="videoad-status" id="status" [(ngModel)]="videoad.status" required>
                <option value="active">Active</option>
                <option value="disabled">Disabled</option>
            </select>
            <div class="error" *ngIf="errors.status">{{errors.status}}</div>
        </div>

        <div class="input-container with-addon">
            <label for="videoad-url" trans>Url</label>
            <button type="button" class="no-style addon" (click)="openUploadMusicModal()" matTooltip="Upload Music or Video">
                <svg-icon name="file-upload"></svg-icon>
            </button>
            <input type="url" id="videoad-url" name="url" [(ngModel)]="videoad.url" (ngModelChange)="autoFillDuration(videoad.url)">
            <p trans>(Optional) Absolute url from where videoad should be streamed.</p>
            <div class="error" *ngIf="errors.url">{{errors.url}}</div>
        </div>

        <div class="input-container">
            <label for="videoad-duration" trans>Duration (ms)</label>
            <input type="number" id="videoad-duration" name="duration" [(ngModel)]="videoad.duration" required min="1">
            <div class="error" *ngIf="errors.duration">{{errors.duration}}</div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions>
        <button type="button" mat-raised-button color="accent" class="upload-button" (click)="openUploadMusicModal()" matTooltip="Upload Music or Video" trans>Upload</button>
        <button (click)="close()" type="button" mat-button class="cancel-button" trans>Close</button>
        <button type="submit" mat-raised-button color="accent" class="submit-button" trans>
            <span *ngIf="updating" trans>Update</span>
            <span *ngIf="!updating" trans>Create</span>
        </button>
    </mat-dialog-actions>

    <loading-indicator [isVisible]="loading" class="overlay opacity-high"></loading-indicator>
</form>