@import "../../../../scss/variables";

album {
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;

  > .scroll-container {
    padding: 25px;
  }

  .header {
    display: flex;
    margin-bottom: 40px;

    > img {
      width: 225px;
      height: 225px;
    }

    > .meta {
      margin-left: 15px;

      > .album-name {
        font-size: 4.2rem;
        font-weight: 300;
      }

      > .artist-name {
        display: block;
        font-size: 1.54rem;
        margin-bottom: 20px;
        color: inherit;
      }

      > .meta-item {
        font-size: 1.5rem;
        margin-bottom: 2px;

        > .name {
          display: inline-block;
          min-width: 120px;
          margin-right: 20px;
          color: #9999a6;
        }

        > .value {
          font-weight: 500;
        }
      }
    }

    @media only screen and (max-width: $tablet) {
      flex-direction: column;
      align-items: center;

      > .meta {
        margin: 10px 0 0;

        > .album-name {
          font-size: 2.5rem;
        }
      }
    }
  }

  .main-buttons {
    position: relative;
    margin-top: 20px;

    @media only screen and (max-width: $tablet) {
      text-align: center;
    }

    > button {
      padding: 7px 0;
      border: 2px solid transparent;
      border-radius: 25px;
      color: $wp-text-color-100;
      text-transform: uppercase;
      min-width: 110px;

      &.play-button {
        background-color: $site-accent-color;
        border-color: $site-accent-color;
        margin-right: 10px;

        > svg-icon {
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
        }

        &:hover {
          background-color: lighten($site-accent-color, 3%);
        }
      }

      &.more-button {
        background-color: $wp-bg-color-400;
        border: 1px solid $wp-border-color-100;

        &:hover {
          background-color: $wp-bg-color-300;
        }
      }
    }
  }
}

.wrapper-r {  
  position: relative;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
  right: 0;
}